DATABASE_URL="file:./beritasatu-cuaca.db"
BMKG_BASE_URL="https://api.bmkg.go.id/publik/prakiraan-cuaca"
BMKG_SOURCE_URL="https://cuaca.bmkg.go.id/"
DEFAULT_EDITOR_NAME="Editor Piket"
SCHEDULE_ENABLED="true"
SCHEDULE_CRON="0 5 * * *"
SCHEDULE_TIMEZONE="Asia/Jakarta"
DEFAULT_SCHEDULED_LOCATIONS="Jakarta,Jakarta Selatan,Tangerang,Tangerang Selatan,Depok,Bekasi,Bogor"
